{% extends 'base.html' %}

{% block title %} Generator {% endblock %}

{% block content %}
<style>
    .btn {
        border: 1px solid #3498db;
        padding: 12px 22px;
        font-family: Ubuntu, sans-serif;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 100px;
        transition: 0.5s;
        overflow: hidden;
        background-color: #2686e3;
        color: white;

    }

    .btn:hover{
        background-color: #0169b8;
    }
    body{
        color: #fff;
        display: grid;
        place-items: center;
        min-height: 100vh;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .main{
        width: 320px;
        height: 400px;
        display: grid;
        text-align: center;
        align-items: center;
        margin-top: 150px;
        background-image: url("/static/shota.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .quote{
        padding: 20px;
        font-size: 17px;
        line-height: 22px;
    }

    .main i{
        font-size: 90px;
        color: #4476ea;
        position: relative;
        top: 20px;
    }
    .author {
        margin-bottom: 30px;
        font-size: 17px;
        color: #4476ea;
        text-align: right;
        margin-right: 20px;
        color: white;
        font-family: Ubuntu, 'sans-serif';
        font-style: italic;
    }
    p {
        color: white;
        background-color: #282828;
        font-style: italic;
        font-size: 20px;
    }
</style>
    <div class="main">
        <i class="fa fa-quote-right"></i>
        <div class="quote">
            <p>{{quote}}</p>
        </div>
        <p class="author">შოთა რუსთაველი</p>
    </div>
    <button class="btn" onClick="window.location.reload();" >შემდეგი</button>
{% endblock %}